<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        body {
            background-color: rgb(0, 206, 74);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .number {
            font-size: 100px;
            text-align: center;
            color: #ffffff;
        }
    </style>
    <title>Random Number Generator</title>
</head>
<body>
    <div th:text="${randomNumber}" class="number"></div>
</body>
</html>

